.container {
  background-color: rgb(255, 255, 255);
  box-shadow: 3px 0 8px rgba(0, 0, 0, 0.1);
  font-size: 17px;
  font-weight: 600;
  width: 100%;
  /* height: 70px; */
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  /* min-height: 70px; */
  height: fit-content;
  z-index: 10000;
}
.owner {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  align-items: center;
  /* margin-top: 2px; */
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: rgb(15, 15, 126);
  text-shadow: 2px 2px 15px rgba(0, 0, 0, 0.5);
  z-index: 10000;
}
.icons {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: x-large;
  margin-right: 3px;
  margin-left: 3px;
}
.icons li {
  padding: 5px;
}
.Legal {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  justify-content: center;
}
.Legal li {
  padding: 5px;
}
li:hover {
  transition: 0.2s;
  color: rgb(255, 165, 47);
  cursor: pointer;

}

 @media (max-width:997px) {
    .owner{
      margin-top: 10px;
    }

}

/*@media (min-width:401px) {
    .container{
        height: fit-content;
        width: 100%;
    }
}
@media (min-width:767px) {
    .container{
        height: fit-content;
        width: 100%;
    }
} */
/* @media (min-width:1000px) {
    .container{ */
/* height: 400px; */
/* width: 100%; */
/* overflow: hidden; */
/* }

} */
/* @media (min-width:1000px) {
    .container{
        width: 100%;
    } */

/* } */
